EXPO_PUBLIC_SUPABASE_URL=https://nyuamiddosfhukgiossj.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im55dWFtaWRkb3NmaHVrZ2lvc3NqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5Mzc4MzQsImV4cCI6MjA5NTUxMzgzNH0.OC9VDF9J-9ilw0QG6am_tR5JUuo0tZ3tTAAUhQBpSuI
EXPO_PUBLIC_RAZORPAY_KEY=rzp_test_T90ATTG21ORfFm
EXPO_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
